body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

button {
    background: black;
    color: white;
    display: flex;
    border: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}