body {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.wrapper, .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background: black;
    color: white;
    display: flex;
    border: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 150px;
    width: auto;
}

h1 {
    font-weight: 300;
    font-size: 1rem;
}